@import 'tailwindcss/preflight'
@tailwind utilities;


body {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: -0.03em;
}

/* Modal Styles */
#auth-modal {
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Disable interactions when hidden */
    transition: opacity 0.3s ease;
}

#auth-modal.show {
    opacity: 1; /* Show modal */
    pointer-events: auto; /* Enable interactions */
}

.anime {
    transition: .5s;
    transform: translateY(100px);
    opacity: 0;
}

.anime.show-animation {
    transform: none;
    opacity: 1;
}

main .content i.anime {
    transform: translateY(-100px);
}

main .content i.anime.show-animation {
    transform: none;
    opacity: 1;
}

main .content p.anime {
    transition-delay: .2s;
}

main .content h1.anime.show-animation,
main .content p.anime.show-animation {
    transform: none;
    opacity: 1;
}